:root {
  --postgres-color: #2f6792;
  --postgres-color-hover: #447da9;
  --postgres-color-active: #1f4a6b;
  --mongodb-color: #4da84b;
  --mongodb-color-hover: #62c060;
  --mongodb-color-active: #256c24;
}

header {
  display: flex;
  flex-wrap: wrap;
}

.postgres {
  background-color: var(--postgres-color);
}

.postgres:hover {
  background-color: var(--postgres-color-hover);
}

.postgres.nav-active {
  background-color: var(--postgres-color-active);
}

.mongodb {
  background-color: var(--mongodb-color);
}

.mongodb:hover {
  background-color: var(--mongodb-color-hover);
}

.mongodb.nav-active {
  background-color: var(--mongodb-color-active);
}

.postgres.loader,
.mongodb.loader {
  background-color: unset;
}

.nav-link {
  color: #fff;
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.nav-active {}